<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Blog Radio">
    <meta name="author" content="Duc Pham">

    <title><%= title %></title>
    <!--<link href="http://localhost/public/css/style.css" rel="stylesheet" type="text/css">-->
</head>

<body>
<%- messages('messages', locals) %>